

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/restaurant">Just A Bite!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto"> 
        </ul>
        <form class="form-inline my-2 my-lg-0" >

        <li class="nav-item active">
            <a class="btn btn-secondary" href="/">抽個大獎</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-secondary" href="/">我要點餐</a>
        </li>
        
        <li class="nav-item">
            <a class="btn btn-secondary" href="/">查詢訂單</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-secondary" href="/faq">常見問題</a>
        </li>
    
        </form>
    </div>
</nav>