<!doctype html>
<head>
    <%- include('template/head') %>
</head>
<html>

<%- include('template/navbar') %>
<div class="container mt-5">

<div class="jumbotron ">

    <div class="alert alert-dismissible alert-info">

        <strong>程式基礎</strong> <a href="https://hackmd.io/1nul-3pqTRSou9qSzxkS7g" class="alert-link">版本控制 - 原理 ＆ 基本 Git
            指令</a>.
    </div>
    <div class="alert alert-dismissible alert-warning">

        <strong>程式基礎</strong> <a href="https://hackmd.io/Zjku-WFiSoOd0iOTiTK3QQ" class="alert-link">Command Line</a>
    </div>

    <div class="alert alert-dismissible alert-primary">

        <strong>程式基礎</strong> <a href="https://hackmd.io/D86KGcHVSpaRuN0cDesudw" class="alert-link">JavaScript - ES6
            語法、Babel 轉譯器</a>
    </div>

    <div class="alert alert-dismissible alert-secondary">

        <strong>程式基礎</strong> <a href="https://hackmd.io/yLjtOLnjT3e2jWghfVmkSw" class="alert-link">JavaScript -
            測試、Jest、TDD</a>.
    </div>

    <div class="alert alert-dismissible alert-info">

        <strong>程式基礎</strong> <a href="https://hackmd.io/-iZeq_dmRL6CuknwXVHU_g" class="alert-link">Node.js Modules</a>.
    </div>
    <div class="alert alert-dismissible alert-warning">

        <strong>程式基礎</strong> <a href="https://hackmd.io/DzIhhWOzRrCHBOX1So5E8Q" class="alert-link">基礎 JavaScript -
            變數,陣列,函式</a>
    </div>

    <div class="alert alert-dismissible alert-primary">

        <strong>程式基礎</strong> <a href="https://hackmd.io/RYXDFKaKTNS3rq-Ung0zew" class="alert-link">基礎 JavaScript -
            條件句,迴圈</a>
    </div>

    <div class="alert alert-dismissible alert-secondary">

        <strong>程式基礎</strong> <a href="https://hackmd.io/6IxGWa3eQtGWWCeIC8yZOA" class="alert-link">基礎 JavaScript -
            物件特性,位元運算</a>.
    </div>

    <div class="alert alert-dismissible alert-info">

        <strong>網路基礎</strong> <a href="https://hackmd.io/PhfjuTVzQPaiXYMiJ3F4qQ" class="alert-link">API 基礎</a>.
    </div>
    <div class="alert alert-dismissible alert-warning">

        <strong>網路基礎</strong> <a href="https://hackmd.io/aG2TN-hUR16zzp_YXWyCMg">網路基礎概論</a>
    </div>

    <div class="alert alert-dismissible alert-primary">

        <strong>網路基礎</strong> <a href="https://hackmd.io/kI4fCX4uRx28dNcvz5s_5g" class="alert-link">網路基礎 - TCP/IP</a>
    </div>

    <div class="alert alert-dismissible alert-secondary">

        <strong>前端基礎</strong> <a href="https://hackmd.io/ff_zXfEzRLmMiEiVV5wAEw" class="alert-link">HTML ＆ SEO</a>.
    </div>

    <div class="alert alert-dismissible alert-info">

        <strong>前端基礎</strong> <a href="https://hackmd.io/Ux1ekWR2Qv20q036vNpV3g" class="alert-link">CSS</a>.
    </div>
    <div class="alert alert-dismissible alert-warning">

        <strong>前端基礎</strong> <a href="https://hackmd.io/xpfkeJ7YQiadnP_H47Kgww" class="alert-link">Dom</a>
    </div>

    <div class="alert alert-dismissible alert-primary">

        <strong>前端基礎串 API</strong> <a href="https://hackmd.io/nP7H-WLaQgmV2EAuyae6vA" class="alert-link">非同步與 AJAX</a>
    </div>

    <div class="alert alert-dismissible alert-secondary">

        <strong>後端基礎 PHP 與 MySQL</strong> <a href="https://hackmd.io/HSgibRj2R22eo7bk-qbJsw" class="alert-link">後端基礎 PHP
            與 MySQL</a>.
    </div>

    <div class="alert alert-dismissible alert-info">

        <strong>資訊安全</strong> <a href="https://hackmd.io/aT7J0D8RT8-eagKUbvv5rA?view" class="alert-link">常見攻擊：XSS、SQL
            Injection</a>.
    </div>
    <div class="alert alert-dismissible alert-warning">

        <strong>前後端整合</strong> <a href="https://hackmd.io/KB2wVAOuS9mVz8Xlx5DT2A?both" class="alert-link">學習 jQuery 與
            Bootstrap</a>
    </div>

    <div class="alert alert-dismissible alert-primary">

        <strong>現代前端工具</strong> <a href="https://hackmd.io/UwZ8F2SdQVux-gqtVEe_Og?view"
            class="alert-link">Webpack、fetch、CSS 預處理器</a>
    </div>

    <div class="alert alert-dismissible alert-secondary">

        <strong>伺服器與網站部署</strong> <a href="https://hackmd.io/VP6Jq8d0Ru-jVGiO94w-Yw?view" class="alert-link">部署 AWS EC2
            遠端主機 + Ubuntu LAMP 環境 + phpmyadmin</a>.
    </div>
    <div class="alert alert-dismissible alert-info">

        <strong>JavaScript 核心與物件導向</strong> <a href="https://www.notion.so/ruofanwei/week-16-JavaScript-44e4eecddcc242e288d32c6575183a54" class="alert-link">Even Loop、Hoisting、Closure、this、物件導向</a>.
    </div>
</div>
    </div>
</html>