<!doctype html>
<head>
    <%- include('template/head') %>
</head>
<html>

<%- include('template/navbar') %>
<div class="container mt-5">


<div class="jumbotron ">
    <h4 class="display-3">學習筆記</h4>

    <hr class="my-4">
    <p>happy learning and happy coding.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/moreNote" role="button">Learn more</a>
    </p>
</div>
    </div>
</html>